.header {
  height: 107px;
  background-image: linear-gradient(0, #00ccff, #0f9ed8);
}

.tittle {
  margin: 0px;
  font-size: 5rem;
  color: var(--white-color);
  margin-right: 30px;
}

.search-bar {
  height: 80px;
  width: 500px;
  display: flex;
  align-items: center;
}

.navbar {
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#text-search {
  height: 40px;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  margin-right: 0px;
  font-size: 1.5rem;
}

#btn-search {
  font-size: 1.5rem;
  height: 40px;
  margin-left: 0;
  width: 100px;
  border-radius: 5px solid;
  font-weight: 500;
}

.cart {
  display: inline-block;
}

.navbar-icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.navbar-account {
  margin: 0 30px;
  position: relative;
  float: left;
}

.navbar-account:hover .dropdown-wrapper {
  display: block;
}

.navbar-item {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 700;
  margin-left: 20px;
  z-index: 1;
}

.navbar-list {
  display: inline-block;
  width: 350px;
}

/* bottom navbar */

.bottom-nav {
  background-color: orange;
}

.bottom-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px 0px 0px;
  height: 40px;
  padding-left: 0px;
}

.bottom-nav__list > :first-child {
  background-color: greenyellow;
}

.bottom-nav__link {
  text-decoration: none;
  font-size: 1.8rem;
}

.bottom-nav__list-item {
  height: 40px;
  padding: 13px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 10px;
  width: 285px;
  display: flex;
  justify-content: space-between;
}

.list-dropdown {
  position: absolute;
  background-color: red;
  height: 210px;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: 0px -5px 15px -5px rgb(19, 22, 25);
  z-index: 1;
}

.list-dropdown::before {
  content: "";
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -16px;
  right: 150px;
}

.list-dropdown_item {
  width: 200px;
  height: 35px;
  background-color: var(--white-color);
  font-size: 1.8rem;
}

.dropdown-wrapper {
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.btn-signin {
  background-color: orange;
  color: var(--white-color);
  border-radius: 3px;
  border: none;
}

.icon-remove {
  color: black;
}

.btn-signup {
  background-color: orange;
  color: var(--white-color);
  border-radius: 3px;
  border: none;
}

.btn-facebook {
  background-color: blue;
  color: var(--white-color);
  border-radius: 3px;
  border: none;
}

.btn-google {
  background-color: red;
  color: var(--white-color);
  border: none;
  border-radius: 3px;
}

.cart-dropdown-wrapper {
  height: 450px;
  width: 305px;
  background-color: var(--white-color);
  position: absolute;
  /* x y blur scale color */
  box-shadow: 0px -5px 15px -5px rgb(19, 22, 25);
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.navbar-cart {
  position: relative;
}

.navbar-cart:hover .cart-dropdown-wrapper {
  display: block;
}

.cart-dropdown-wrapper::before {
  content: "";
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -16px;
  right: 230px;
}

.cart-dropdown {
  padding: 15px;
}

.cart-item__image {
  width: 70px;
  height: 100%;
  float: left;
  margin-right: 5px;
}

.cart-dropdown__content {
  height: 165px;
  background-color: var(--white-color);
  position: relative;

  border-bottom: #6b6b6b dashed 1px;
}

.cart-item__tittle-text {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #6b6b6b;
}

.cart-item__description {
  font-size: 1.25rem;
  color: #6b6b6b;
}

.cart-item__info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-item__tittle {
  display: flex;
  justify-content: space-between;
}

.cart-item__quantity--input {
  width: 50px;
  height: 30px;
  padding: 4px 5px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.cart-item__price {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-color);
}

.cart-dropdown__button {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
}

.cart-dropdown__button-item {
  width: 130px;
  height: 40px;
  background-color: #ff0000;
  border: none;
}

.show-cart {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white-color);
}

.pay-cart {
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white-color);
}

.cart-dropdown-container {
  position: relative;
  width: 275px;
  height: 80px;
  margin-top: 20px;
}

.cart-dropdown__price-text {
  color: var(--text-color);
}

.cart-dropdown__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-dropdown__item-wrapper {
  max-height: 330px;
  overflow-y: auto;
}
