.container-content {
  background-color: #e6e6e6;
}

.containner-wrapper {
  width: 100%;
  height: 470px;
  position: relative;
}

.top-left__sidebar--list {
  list-style-type: none;
  padding-left: 0px;
}

.top-left__sidebar--item {
  background-color: var(--white-color);
  border-left: var(--black-color) ridge 0.5px;
  border-bottom: var(--black-color) ridge 0.5px;
  border-right: var(--black-color) ridge 0.5px;
  height: 41px;
  padding: 8px 0 8px 10px;
}

.top-left__sidebar--item:hover {
  border-left: #0f9ed8 solid 5px;
}

.top-left__sidebar--item:hover .top-left__sidebar--item-link {
  color: #0f9ed8;
}

.top-left__bar {
  margin-top: 40px;
  height: 410px;
  width: 285px;
}

.top-right__bar {
  position: absolute;
  width: 1100px;
  top: 0px;
  right: 0px;
}

.top-right__banner__img {
  width: 1100px;
  height: 450px;
}

.top-left__sidebar--item-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

.top-left__sidebar--item-icon {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 10px;
}

/* -----------------commitment----------------- */
.commitment {
  height: 133px;
}

.commitment-container {
  display: flex;
  justify-content: space-between;
}

.service-item {
  width: 410px;
  height: 133px;
  background-color: rgb(249, 244, 237);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border: 3px solid rgba(18, 17, 17, 0.1);
}

.service-item__icon {
  width: 60px;
  height: 60px;
  display: block;
}

.service-freeship__content {
  margin-left: 16px;
}

.safety-item__content {
  margin-left: 16px;
}

.delivery-now__content {
  margin-left: 15px;
}

.commitment-tittle {
  display: block;
  max-width: 300px;
  font-weight: bold;
  font-size: 1.7rem;
}

.commitment-description {
  display: block;
  max-width: 300px;
  font-size: 15px;
  margin-top: 5px;
}

/* product */
.product-heading::before {
  display: table;
  content: "";
  border-top: 1px solid #002aff;
  width: 100%;
  position: absolute;
  top: 50%;
}

.product-heading {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.product-heading h2 span {
  font-size: 24px;
  background: #e6e6e6;
  position: relative;
  padding: 0 20px;
  color: #002aff;
}

.product-heading__name {
  margin-bottom: none;
}

.product-row-wrapper {
  margin-bottom: 30px;
}

.product {
  height: 280px;
  padding: 5px;
  position: relative;
  background-color: white;
}

.product-image {
  display: block;
  width: 100%;
}

.product-name {
  display: block;
}

.product-name__link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 2rem;
}

.product-price {
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

.btn-add-to-cart {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: absolute;
  height: 32px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

/* Footer */
.footer-top > div {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.footer-top__block {
}

.footer-top__tittle {
  text-transform: uppercase;
  border-bottom: solid 1px black;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.footer-top__list {
  padding-left: 0px;
}

.footer-top__item {
  list-style-type: none;
  padding: 5px;
}

.footer-top__item--link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-top__follow {
  display: flex;
  padding: 10px;
  background-image: url("../img/banner.jpg");
  align-items: center;
}

#footer-top__follow--img {
  display: block;
  margin-right: 10px;
  border: #e6e6e6;
  height: 60px;
  width: 60px;
}

.footer-top__follow--tittle:hover {
  text-decoration: underline;
  color: var(--white-color);
}

.footer-top__follow--tittle {
  text-transform: uppercase;
  display: block;
  color: var(--white-color);
  font-size: 2rem;
  text-decoration: none;
}

.footer-top__follow--btn-follow {
  height: 30px;
  width: 150px;
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-top__follow--btn-follow i {
  margin-right: 5px;
  color: #092cd8;
}

.footer-bottom div span {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 2px;
}

#footer-bottom__name {
  text-transform: uppercase;
}

.footer-bottom {
  margin-bottom: 70px;
}
